<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>object_backpack.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,138},{45,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,54}}</string>
			<key>sourceSize</key>
			<string>{45,54}</string>
		</dict>
		<key>object_banana.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,138},{45,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,31}}</string>
			<key>sourceSize</key>
			<string>{45,31}</string>
		</dict>
		<key>object_bananabunch.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,76},{45,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,33}}</string>
			<key>sourceSize</key>
			<string>{45,33}</string>
		</dict>
		<key>object_canteen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,76},{45,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,60}}</string>
			<key>sourceSize</key>
			<string>{45,60}</string>
		</dict>
		<key>object_hat.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{50,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,30}}</string>
			<key>sourceSize</key>
			<string>{50,30}</string>
		</dict>
		<key>object_pineapple.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{32,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,72}}</string>
			<key>sourceSize</key>
			<string>{32,72}</string>
		</dict>
		<key>object_statue.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,2},{45,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,64}}</string>
			<key>sourceSize</key>
			<string>{45,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>artifacts.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0b74c45918f8779eaff40b8bade701ed$</string>
		<key>textureFileName</key>
		<string>artifacts.png</string>
	</dict>
</dict>
</plist>
