<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>monkey_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,2},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_arms_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,2},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,2},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_jump_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,2},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_jump_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,2},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_push_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_push_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,104},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_push_right_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,104},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_push_right_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,104},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_walk_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,104},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_walk_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,104},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_walk_right_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,206},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
		<key>monkey_walk_right_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,206},{83,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,100}}</string>
			<key>sourceSize</key>
			<string>{83,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>monkeyAtlas.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:53b850afe2ec30c720217b9491ef5e2f$</string>
		<key>textureFileName</key>
		<string>monkeyAtlas.png</string>
	</dict>
</dict>
</plist>
