<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>monkey_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_arms_up.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,2},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_dead.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,172},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_jump_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,172},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_jump_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,172},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_push_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_push_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,342},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_push_right_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,342},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_push_right_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,512},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_walk_left_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,512},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_walk_left_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,512},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_walk_right_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,682},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
		<key>monkey_walk_right_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,682},{140,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,168}}</string>
			<key>sourceSize</key>
			<string>{140,168}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>monkeyAtlas-iPad.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:24b58ba68bf901ac91aae8095264fc6a$</string>
		<key>textureFileName</key>
		<string>monkeyAtlas-iPad.png</string>
	</dict>
</dict>
</plist>
